body,
html {
    margin: 0;
    padding: 0;
}



.line {
    border: 1px solid black;
    height: 0;
    width: 100%;
    margin: 20px;
}

.all {
    display: flex;
    height: 100vh;

    .user {
        width: 30vw;
        background-color: rgb(243, 243, 243);
        position: static;
        height: 100vh;
        box-shadow: 0 0 50px rgb(89, 166, 190);

        .view {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            align-items: center;

            img {
                width: 150px;
                height: 150px;
                max-width: 150px;
                max-height: 150px;
                border-radius: 50%;
                margin: 20px;
                margin-bottom: 0;
                box-shadow: 0 0 80px rgb(89, 166, 190);
            }
        }

        .links {
            padding: 20px;
            display: flex;
            flex-direction: column;

            .link {
                padding: 5px 0;
            }
        }

        .skills {
            .title {
                padding: 0 20px;
                padding-bottom: 20px;
                font-size: 1.5rem;
            }
            .skills-content {
                overflow-y: auto;
                height: 200px;

                .skill {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 5px 20px;

                    &:hover {
                        background-color: rgb(220, 233, 236);
                    }

                    .stars {
                        display: flex;
                        margin-left: 10px;

                        .star {
                            width: .8rem;
                            height: .8rem;
                            margin-right: .25rem;
                            background-color: rgb(89, 166, 190);
                            border: 1px solid rgb(89, 166, 190);
                            

                            &:first-of-type {
                                border-top-left-radius: 50%;
                                border-bottom-left-radius: 50%;
                            }

                            &:last-of-type {
                                border-top-right-radius: 50%;
                                border-bottom-right-radius: 50%;
                            }

                            &.not {
                                background-color: transparent;
                                border: 1px solid rgb(89, 166, 190);
                                box-shadow: inset 0 0 3px rgb(89, 166, 190);
                            }
                        }
                    }
                }
            }
        }
    }

    .content {
        padding: 20px;
        position: static;
        width: 70vw;
        height: calc(100vh - 40px);
        overflow-y: auto;

        .h1 {
            display: flex;
            align-items: center;
            width: 100%;
            font-size: 1.5rem;

            b {
                width: 30%;
            }
        }

        .source {
            display: flex;
            flex-direction: row;

            .name {
                width: 30%;
            }

            .sources {
                width: 70%;

                .font {
                    &-name {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}